.AddModal {
  position: fixed;
  width: 90%;
  height: 90vh;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: white;
  z-index: 100;
  border-radius: 20px;
  padding: 15px;
  font-family: inherit;
  overflow-y: scroll;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.Wrapper label {
  font-weight: bold;
  font-size: 25px;
}

.Wrapper textarea,
.InputDate {
  border: 0;
  border-bottom: 1px solid #26a249;
  width: 65%;
  height: 6vh;
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  transition: all 0.3s ease-out;
  resize: none;
}

.Wrapper textarea:focus,
.InputDate:focus {
  background-color: #26a24918;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #04a0e2;
}

.InputDate {
  background-color: #26a24918;
  width: 40%;
  height: 50px;
  font-size: 38px;
  font-weight: bold;
}

.InputTime {
  border: 0;
  border-bottom: 1px solid #04a0e2;
  height: 6vh;
  width: 30px;
  font-size: 24px;
  font-weight: bold;
}

.InputTime:focus {
  outline: 0;
  border-bottom: 1px solid #26a249;
  background-color: #049fe250;
}

.Wrapper textarea:focus {
  height: 100px;
}
.Wrapper span {
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
  margin: 0 -5px;
}

button[type="submit"] {
  position: relative;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  background-color: #26a249;
  border-radius: 55px;
}

.SubmitBtnIcon {
  color: white;
  font-size: 30px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}
