.TimeTextContainer {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.219);
}

.HeadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;
}

.ToDo {
  z-index: 3;
  overflow-y: scroll;
  transition: all 0.3s ease-out;
  position: fixed;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
}

.ToDo p {
  margin-left: 25px;
}
