.Wrapper {
  border-top: 1px solid rgb(250, 250, 250);
  z-index: 100;
  display: flex;
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-evenly;
}

.BottomBtn {
  border: 0;
  padding: 0 30px;
  height: 45px;
  background-color: white;
  transition: all 0.3s ease-out;
}

.BottomBtn:active {
  border-radius: 50px;
  background-color: #26a2497a;
}

.BottomBtn:focus {
  border: 0;
  outline: 0;
}

.BottomIcon {
  color: #26a249;
  font-size: 30px;
}

.LogoutModal {
  position: fixed;
  width: 80%;
  background-color: white;
  z-index: 100;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
}

.LogoutModalInner {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
