.Wrapper {
  border-top: 1px solid rgb(250, 250, 250);
  z-index: 100;
  display: flex;
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-evenly;
}

.BottomBtn {
  border: 0;
  padding: 0 30px;
  height: 45px;
  background-color: white;
  transition: all 0.3s ease-out;
}

.BottomBtn:active {
  border-radius: 50px;
  background-color: #26a2497a;
}

.BottomBtn:focus {
  border: 0;
  outline: 0;
}

.BottomIcon {
  color: #26a249;
  font-size: 30px;
}
