.ToDoListCard {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TextWrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteCross {
  color: rgb(250, 71, 71);
  font-size: 25px;
}

.info {
  margin-right: -10px;
  font-size: 25px;
}
